.home {
    background-image: url("pictures/homepage.jpg");
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -2rem;
}

.big {
    font-size: 25px;
}

.center {
    margin: 1% 25% 25% 40%
}
