<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Home</title>
      <link rel="stylesheet" type="text/css" href="../static/styles.css">
  </head>
  <body class="home bg-image">
    <div class="center">
      <form method="post" enctype="multipart/form-data">
        <div>
          <label for="image" class="big">
              <b>Choose a picture of Pepsi or Cola:</b>
              <br>
              <i>Attention! This is a binary classification and other images will give an incorrect result</i>
          </label>
          <input type="file" id="image" name="image"/>
        </div>
        <div>
          <button>Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
